/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Contenedor principal para centrar el contenido */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Agrega bordes */
 }
/* ... (otros estilos) ... */

.libros-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

 .libro {
    display: none;
 }
 .comprar-button {
    margin-top: 10px;
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #333; 
    color: white;
    text-decoration: none;
    border: 1px solid #333; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}
 
 .libro-activo {
    display: block;
 }

 .mostrar-todos .libro {
    display: block;
 }

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 200px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.comentarios {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comentarios h3 {
    margin-top: 0;
}

.comentarios ul {
    list-style: none;
    padding-left: 0;
}

.comentarios li {
    margin-bottom: 5px;
}

.recomendado {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000000; 
}


/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    flex-shrink: 0;
    margin-top: 20px;
}
